@model WebApplication2.Models.Curriculo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Curriculo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="idCurriculo" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNasc" class="control-label"></label>
                <input asp-for="DataNasc" class="form-control" />
                <span asp-validation-for="DataNasc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa1" class="control-label"></label>
                <input asp-for="Empresa1" class="form-control" />
                <span asp-validation-for="Empresa1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoTrab1" class="control-label"></label>
                <input asp-for="CargoTrab1" class="form-control" />
                <span asp-validation-for="CargoTrab1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoTrab1" class="control-label"></label>
                <input asp-for="PeriodoTrab1" class="form-control" />
                <span asp-validation-for="PeriodoTrab1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoTrab1" class="control-label"></label>
                <input asp-for="DescricaoTrab1" class="form-control" />
                <span asp-validation-for="DescricaoTrab1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa2" class="control-label"></label>
                <input asp-for="Empresa2" class="form-control" />
                <span asp-validation-for="Empresa2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoTrab2" class="control-label"></label>
                <input asp-for="CargoTrab2" class="form-control" />
                <span asp-validation-for="CargoTrab2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodoTrab2" class="control-label"></label>
                <input asp-for="PeriodoTrab2" class="form-control" />
                <span asp-validation-for="PeriodoTrab2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoTrab2" class="control-label"></label>
                <input asp-for="DescricaoTrab2" class="form-control" />
                <span asp-validation-for="DescricaoTrab2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instituicao1" class="control-label"></label>
                <input asp-for="Instituicao1" class="form-control" />
                <span asp-validation-for="Instituicao1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel1" class="control-label"></label>
                <input asp-for="Nivel1" class="form-control" />
                <span asp-validation-for="Nivel1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso1" class="control-label"></label>
                <input asp-for="Curso1" class="form-control" />
                <span asp-validation-for="Curso1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instituicao2" class="control-label"></label>
                <input asp-for="Instituicao2" class="form-control" />
                <span asp-validation-for="Instituicao2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nivel2" class="control-label"></label>
                <input asp-for="Nivel2" class="form-control" />
                <span asp-validation-for="Nivel2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curso2" class="control-label"></label>
                <input asp-for="Curso2" class="form-control" />
                <span asp-validation-for="Curso2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Habilidades" class="control-label"></label>
                <input asp-for="Habilidades" class="form-control" />
                <span asp-validation-for="Habilidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma2" class="control-label"></label>
                <input asp-for="Idioma2" class="form-control" />
                <span asp-validation-for="Idioma2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idioma3" class="control-label"></label>
                <input asp-for="Idioma3" class="form-control" />
                <span asp-validation-for="Idioma3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
